{% extends 'bookings/base.html' %}

{% block title %} Listado de Accesorios {% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="mb-0">Accesorios</h2>
            <a href="{% url 'accesorio-create' %}" class="btn btn-success">Crear Accesorio</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre de usuario</th>
                    <th scope="col">Accesorio</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody>
                {% if DONALD %}
                {% for accesorio in DONALD %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ accesorio.nombre_usuario }}</td>
                    <td>{{ accesorio.nombre }}</td>
                    <td>{{ accesorio.descripcion }}</td>
                    <td>
                        <a href="{% url 'accesorio-update' accesorio.id %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{%url 'accesorio-delete' accesorio.id %}" class="btn btn-primary btn-sm">Eliminar</a>
                        <a href="{% url 'accesorio-detail' accesorio.id %}" class="btn btn-primary btn-sm">Ver</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7">No hay Accesorios.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}